جست و جوی دودویی برای لیست های مرتب

پیدا کردن یک عدد در یک لیست مرتب

In [22]:
lst = [0,1,2,3,4,5,6]
def search(lst, target):
  low = 0
  high = len(lst)-1

  while low <= high:
    mid = (high + low)//2

    if lst[mid] == target:
      print(mid, lst[mid])
      return True

    elif lst[mid] < target:
      low = mid+1

    else:
      high = mid-1
  return False

search(lst,6)

6 6

True

پیدا کردن یک عدد در یک لیست مرتب با استفاده از توابع بازگشتی

In [25]:
def search_recursive( lst, target, low, high):
  while low <= high:
    mid = (low+ high)//2
    if lst[mid]== target:
      return mid, lst[mid]
    elif lst[mid]< target:
      return search_recursive( lst,target, mid+1, high)
    else:
      return search_recursive(lst, target, low, mid-1)

lst=[0,1,2,3,4 ,5,6]
search_recursive(lst, 3, 0,7)

(3, 3)

تابع فیبوناچی

In [31]:
def fibonachi(n):
  if n==1:
    return n
  elif n == 0:
    return 0
  else :
    return fibonachi(n-1) + fibonachi(n-2)
fibonachi(4)

267914296

محاسبه مجموع یک لیست با استفاده از تابع بازگشتی

In [58]:
lst = [0,15,2,3,4,5,40]

def sumation_lst(lst,sumation = 0):
  n = len(lst)
  while lst:
    sumation += lst.pop()
    sumation_lst(lst[:n-1])
  return sumation
sumation_lst(lst)

69

روش دوم بدون حلقه

In [62]:
def sumation_lst(lst):
  n = len(lst)
  if n == 0:
    return 0
  else :
    return sumation_lst(lst[:n-2]) + lst[n-1]

In [64]:
lst = [0,5,2,3,4,5,4]
sumation_lst(lst)

10

پالینروم بودن یک رشته مثلاradar

In [73]:
s = 'maryam'
def palindrom(s):
  n = len(s)
  for i in range(n):
    print(i)
    if s[i] == s[n-i-1]:
      return True
    else:
      return False

palindrom(s)

0

True

پالینروم با تابع بازگشتی

In [87]:
s = 'sabbsas'
def palindrom(s):
  if len(s) <= 1:
    return True
  else:
    return s[0] == s[-1] and palindrom(s[1:-1])


palindrom(s)

False

In [82]:
s = 'd'
s[1:-1]

''

برج هانوی با استفاده از رابطه بازگشتی

In [8]:
def Hanoi(n, s, a, t):
  if n == 1:
    print('move 1 from', s ,'to', t)
  else:
    Hanoi(n-1, s, t, a)
    print ('move',n,'from ',s ,'to', t)
    Hanoi(n-1, a, s , t)

Hanoi(4,'a', 'b', 'c')

move 1 from a to b
move 2 from  a to c
move 1 from b to c
move 3 from  a to b
move 1 from c to a
move 2 from  c to b
move 1 from a to b
move 4 from  a to c
move 1 from b to c
move 2 from  b to a
move 1 from c to a
move 3 from  b to c
move 1 from a to b
move 2 from  a to c
move 1 from b to c

آکرمن

In [25]:
def Akerman(a, b):
  if a == 0 and b != 0:
    print('A(0,{})'.format(b))
    return b +1
  elif a != 0 and b ==0:
    print('A({}, 1)'.format(a-1))
    return Akerman(a-1, 1)
  else:
    print('A({}, {})'.format(a-1, b-1))
    return Akerman(a-1, Akerman(a, b-1))
Akerman(2,1)

A(1, 0)
A(1, 1)
A(0, 0)
A(0, 1)
A(0,1)
A(0,2)
A(0, 2)
A(0, 1)
A(0, 0)
A(0, 1)
A(0,1)
A(0,2)
A(0,3)
A(0,4)

5

مثلث پاسکال pascal

In [ ]:
[1]
[1,1]
[1,2,1]
[1,3,3,1]
[1,4,6,4,1]
[1,5,10,10,5,1]
...

In [1]:
def pascal(n):
  if n == 1:
    return [1]
  else:
    x = [1]
    p = pascal(n-1)
    for i in range(len(p)-1):
      x.append(p[i] + p[i+1])
    x +=[1]
  return x

In [3]:
pascal(3)

[1, 2, 1]

In [4]:
pascal(4)

[1, 3, 3, 1]